<header>
    <nav>
<div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        
      
   <!-- Collect the nav links, forms, and other content for toggling -->
      <ul class="right">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ site.baseurl }}/archive/">Archive</a></li>
        <li><a href="{{ site.baseurl }}/categories/">Categories</a></li>
        <li><a href="{{ site.baseurl }}/tags/">Tags</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
</div>
</nav>
</header>
